@font-face {
  font-family: 'voluptate';
  src: url('/fonts/voluptate_demo.ttf'); 
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-regular.otf');
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-italic.otf');
  font-style: italic;
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-bold-italic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'simplifica';
  src: url('/fonts/simplifica.ttf');
}

html {
  background: url('/img/bg.jpg');
  background-size: cover;
}

body {
  margin: 0;
}

/* Sidebar */

.sidebar {
  width: 15%;
  float: left;
}

.logo {
  font-family: 'voluptate';
  font-size: 55px;
  text-align: center;
  padding-top: 25px;
}

.nav {
  padding-top: 50px;
  font-family: 'simplifica';
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.nav li {
  list-style: none;
  padding: 10px;
}

.nav li a {
  text-decoration: none;
}

/* Home Page */



/* Footer */

.footer {
  width: 100%;
  height: 50px;
  clear: both;
}
