@font-face {
  font-family: 'voluptate';
  src: url('/fonts/voluptate_demo.ttf'); 
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-regular.otf');
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-italic.otf');
  font-style: italic;
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'pier';
  src: url('/fonts/pier-bold-italic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'simplifica';
  src: url('/fonts/simplifica.ttf');
}

body {
  margin: 0;
}


/* Sidebar */

header {
  width: 15%;
  height: auto;
  background: #385E5F;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  font-family: 'voluptate';
  font-size: 55px;
  text-align: center;
  padding-top: 25px;
}

.nav-sidebar {
  padding-top: 50px;
  font-family: 'simplifica';
  font-size: 26px;
  margin-right: 40px;
  margin-bottom: 160px;
}

.nav-sidebar li {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.nav-sidebar li a {
  text-decoration: none;
  color: #D8A572;
}



/* Home Page */
.main {
  background: url('/img/bg.jpg');
  background-size: cover;
  position: absolute;
  left: 15%;
  bottom: 0;
  top: 0;
  right: 0;
  width: 85%;
  height: auto;
}

hr {
  height: 3px;
  width: 550px;
  background-color: #2B2D3A;
  border-color: #2B2D3A;
}

.top {
  margin-top: 200px;
  margin-bottom: 50px;
}

.bottom {
  margin-top: 40px;
}

.main h1, h2 {
  margin: 0;
  color: #2B2D3A;
}

.main h1 {
  font-family: 'pier';
  font-size: 100px;
  text-align: center;
}

.main h2 {
  font-family: 'pier';
  font-size: 48px;
  text-align: center;
}



/* Footer */

