@font-face {
  font-family: 'voluptate';
  src: url('/fonts/voluptate_demo.ttf'); 
}

@font-face {
  font-family: 'simplifica';
  src: url('/fonts/simplifica.ttf');
}

body {
  margin: 10px;
  background: #80BD9E;
}


/* Navigation Bar */

header {
  margin: 20px;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.3;
  float: left;
} 

.transparent {
  font-family: 'voluptate', serif;
  color: #80BD9E;
  font-size: 32px;
  margin-top: 26px;
  margin-left: 10px;
}

.nav {
  display: inline;
}

.nav-bar {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 45px 10px 0 0;
}

.nav-bar li {
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}

.nav-bar li a {
  text-decoration: none;
  color: #FFFFFF;
}



/* Home Page */

.main {
  margin-left: 125px;
  width: 50%;
  clear: both;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.main h1 {
  padding-top: 50px;
  margin-bottom: 0;
  font-size: 80px;
}

.main h3 {
  font-family: 'simplifica', sans-serif;
  font-size: 34px;
}

.main p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.main a {
  margin: 0;
  text-decoration: none;
  color: #FF420E;
}

#signature {
  font-family: 'voluptate', serif;
  font-size: 40px;
}


/* Footer */

